<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Prediction System For Stock Exchange</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <!-- Favicons -->
    <link href="{% static 'img/fevicon.png'%}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
            <a href="/" class="scrollto"><h1><span>PSSE</span></h1></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#FreeTrail">Free Trail</a></li>
                <li><a href="#schedule">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
                {#                <li><a href="#contact" ><img height = "40" width = "40" style="border-style: solid;border-radius: 50%; border-width: 2px;" src='{{userInformation.profilePicture.url}}'></a></li>#}
                <li class="buy-tickets"><a href="#contact" class="buy-tickets" style="background: rgb(64,55,68); border-radius: 50px;">{{ user.username }}</a></li>
                <li class="buy-tickets"><a href="/authentication/logout/">Logout</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header --><br>

</main>
<br>
<br>
<br>
<br>


<section id="schedule" class="section-with-bg">
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
    <section id="subscribe" style="background: #0c5460; margin: auto;">
        {% if freeTrail %}
        <div id = "dayrem" style="background-color: #f82249; color: white; position: fixed; left: 0; text-align: center;    font-size: 13px;
                        padding: 30px; padding-left: 5px; padding-right: 50px; border-width: 10px; border-top-right-radius: 50%; border-bottom-right-radius: 50%;">
            You have <br> {{ dayRemain }} days remaining.<br>
            Please activate your account.
            <br>
            click <a href="/authentication/signup/" style="color: white;"><b><i>Here</i></b></a>
        </div>
        {% endif %}
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>{{ company.company }}</h2>
                <br>
                <h3 style="color: white;" align="center">About The Company</h3>
                <p>{{ company.company_details }}</p>
                <br>
                <h3 style="color: white;" align="center">Market Capitalization (BDT): {{ company.market_capitalization }}</h3>

                <h3 style="color: white;" align="center">Share Holders Equity (BDT): {{ company.share_holders_equity }}</h3>

                <h3 style="color: white;" align="center">Book Value Per Share(BDT): {{ company.book_value_per_share }}</h3>
                
                <h3 style="color: white;" align="center">Next 7 Days Share Price Prediction "{{ company.company }}"</h3>

                {% load static %}
                <img src="{{ company.prediction_graph.url }}" align="center" height="500" width="800" style=" display:block;margin:auto;">

                <br>
                <br>
                <h3 style="color: white;" align="center">Share Price Trend of "{{ company.company }}"</h3>

                {% load static %}
                <img src="{{ company.price_trend_graph.url }}"  align="center" height="500" width="800" style=" display:block;margin:auto;">


                {#            <p> <a class="btn btn-default" data-toggle="modal" data-target="#survillenceModal" style="font-size:15px;">Click Here for Company List</a></p> <br>#}
                {#            <p> <a class="btn btn-default" data-toggle="modal" data-target="#survillenceModal" style="font-size:15px;">Click Here for Prediction Graphs</a></p>#}
            </div>


            <!--<h3 class="sub-heading">IS IT POSSIBLE TO PREDICT STOCK MARKET MOVEMENTS?</h3>
            <p>This question has been in investors' minds for as long as financial markets have existed. Who wouldn’t want consistently to be able to buy low and sell high? A tool that enabled an investor to make accurate predictions about market fluctuations would be invaluable in building wealth and financial freedom.
                    Conventional wisdom tells us that this dream can never be a reality. Almost every book about personal investment will tell you that attempting to time the stock market is a bad idea; that those who bet on predicting mass market movement will lose money. Even sophisticated market analysis tools and models are held to have no more accuracy than the toss of a coin.
                    But what if you could make better than average returns by accurately predicting shifts in the market?</p>
            <div class="tab-content row justify-content-center">
            </div>-->

        </div>
    </section>
    

</section>







<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h1><span>PSSE</h1>
                    <p>This question has been in investors' minds for as long as financial markets have existed. Who wouldn’t want consistently to be able to buy low and sell high? </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Blog</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Blog</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Rashed <br>
                        IIT<br>
                        DU <br>
                        <strong>Phone:</strong> 01613710569<br>
                        <strong>Email:</strong> bsse0719@iit.du.ac.bd<br>
                    </p>

                   

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>mdrkrashed69</strong>. All Rights Reserved
        </div>
        <div class="credits">
            
            Designed by <a href="">Rashed</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
{% load static %}
<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
