<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Prediction System For Stock Exchange</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <!-- Favicons -->
    <link href="{% static 'img/fevicon.png'%}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
            <a href="/" class="scrollto"><h1><span>PSSE</h1></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#FreeTrail">Free Trail</a></li>
                <li><a href="#schedule">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
                {#                <li><a href="#contact" ><img height = "40" width = "40" style="border-style: solid;border-radius: 50%; border-width: 2px;" src='{{userInformation.profilePicture.url}}'></a></li>#}
                <li class="buy-tickets"><a href="#contact" class="buy-tickets" style="background: rgb(64,55,68); border-radius: 50px;">{{ user.username }}</a></li>
                <li class="buy-tickets"><a href="/authentication/logout/">Logout</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header --><br>

</main>
<br>
<br>
<br>
<br>


<section id="schedule" class="section-with-bg">
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
    <section id="subscribe" style="background: #0c5460; margin: auto;">
        {% if freeTrail %}
            <div id = "dayrem" style="background-color: #f82249; color: white; position: fixed; left: 0; text-align: center;    font-size: 13px;
                        padding: 30px; padding-left: 5px; padding-right: 50px; border-width: 10px; border-top-right-radius: 50%; border-bottom-right-radius: 50%;">
                {% if  dayRemainFreeTrail%}
                    You have <br> {{ dayRemain }} days remaining.<br>
                    Please activate your account.
                    <br>
                    click <a href="/authentication/signup/" style="color: white;"><b><i>Here</i></b></a>
                {% else %}
                    Sorry your 7 days<br>
                    of free trail is Over.
                    <br>
                    Please activate your account.
                    <br>
                    click <a href="/authentication/signup/" style="color: white;"><b><i>Here</i></b></a>
                {% endif %}
            </div>
        {% endif %}
        <div class="container wow fadeInUp">
            {% if dayRemainFreeTrail %}
                <div class="section-header">


                <h2>Market Secnario</h2>
                <p>The First Reliable Market Predicting Tool</p><br>
                <form method="post" action = "/">
                    {% csrf_token %}

                    <div class="form-row justify-content-center">
                        <div class="col-auto">
                            <input type="text"  placeholder="Search Companies" name = "searchvalue" list="searchvalues"/>
                            <datalist id="searchvalues">
                                {% for comp in all_company %}
                                    <option value={{ comp.company }}>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="col-auto">
                            <button type = "submit" class="">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                {% if found == False %}
                    <br>
                    <p>Sorry your company does not exist in Database</p>
                {% endif %}
            {% else %}
                <div class="section-header">
                    <h2>Please Activate your account. To activate your account
                        Click <a href="/authentication/signup/" style="color: white;"><b><i>Here</i></b></a>
                    </h2>
                </div>
            {% endif %}

            {#            <p> <a class="btn btn-default" data-toggle="modal" data-target="#survillenceModal" style="font-size:15px;">Click Here for Company List</a></p> <br>#}
            {#            <p> <a class="btn btn-default" data-toggle="modal" data-target="#survillenceModal" style="font-size:15px;">Click Here for Prediction Graphs</a></p>#}
            </div>


           

        </div>
    </section>
    

</section>







<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h1><span>PSSE</h1>
                    <p>This question has been in investors' minds for as long as financial markets have existed. Who wouldn’t want consistently to be able to buy low and sell high? </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Blog</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Blog</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Rashed <br>
                        IIT<br>
                        DU <br>
                        <strong>Phone:</strong> 01613710569<br>
                        <strong>Email:</strong> bsse0719@iit.du.ac.bd<br>
                    </p>

                   

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>mdrkrashed69</strong>. All Rights Reserved
        </div>
        <div class="credits">
           
            Designed by <a href="">Rashed</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
{% load static %}
<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
