<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Prediction System For Stock Exchange</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <!-- Favicons -->
    <link href="{% static 'img/fevicon.png'%}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

   
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
            <a href="/" class="scrollto"><h1><span>PSSE</h1></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#FreeTrail">Free Trail</a></li>
                <li><a href="#schedule">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="buy-tickets"><a href="/authentication/signin/">Login</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="subscribe">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Sign Up</h2>
            <p></p>
        </div>

        <form action="/authentication/signup/" method="POST">
            {% csrf_token %}

            <div class="form-row justify-content-center">
                <div class="col-auto">
                    {% if form.errors %}
                        <p>Something Wrong</p>
                    {% endif %}

                    <input class = "form-control" type="text" value="" placeholder="Username" id="username" name="{{form.username.name}}"  required id = "{{form.username.id}}"/>
                    {% if form.username.errors %}<li style="color: #f82249;">{{ form.username.errors|striptags }}</li>
                    {% endif %}
                    <br>
                    <input class = "form-control" type="email" value="" placeholder="Email" id="email" name="{{form.email.name}}"  required id = "{{form.email.id}}""/>
                    {% if form.email.errors %}<li style="color: #f82249;">{{ form.email.errors|striptags }}</li>
                    {% endif %}
                    <br>
                    <input class = "form-control" type="password" value="" placeholder="Password" id="password" name="{{form.password1.name}}"  required id = "{{form.password1.id}}" autocomplete="off"/>
                    {% if form.password1.errors %}<li style="color: #f82249;">{{ form.password1.errors|striptags }}</li>
                    {% endif %}
                    <br>
                    <input class = "form-control" type="password" value="" placeholder="Confirm Password" id="confirmPassword" name="{{form.password2.name}}"  required id = "{{form.password2.id}}" autocomplete="off"/>
                    {% if form.password2.errors %}<li style="color: #f82249;">{{ form.password2.errors|striptags }}</li>
                    {% endif %}
                    <br>
                    <button type = "submit" class="col-12" style="margin: auto;"> Create Account</button>

                    <br>
                    <br>
                    <a href="{% url 'reset_password' %}" style="float: right; color: white;">
                        Forgot your password?
                    </a>
                    <br>
                    <br>
                </div>
            </div>
        </form>
    </div>
</section>

<main id="main">
    <section id="schedule" class="section-with-bg">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Prediction System for Stock Exchange (PSSE)</h2>
                <p>The First Reliable Market Predicting Tool</p>
            </div>
            <h3 class="sub-heading">IS IT POSSIBLE TO PREDICT STOCK MARKET MOVEMENTS?</h3>
            <p>This question has been in investors' minds for as long as financial markets have existed. Who wouldn’t want consistently to be able to buy low and sell high? A tool that enabled an investor to make accurate predictions about market fluctuations would be invaluable in building wealth and financial freedom.
                Conventional wisdom tells us that this dream can never be a reality. Almost every book about personal investment will tell you that attempting to time the stock market is a bad idea; that those who bet on predicting mass market movement will lose money. Even sophisticated market analysis tools and models are held to have no more accuracy than the toss of a coin.
                But what if you could make better than average returns by accurately predicting shifts in the market?</p>
            <div class="tab-content row justify-content-center">
            </div>
        </div>
    </section>

    <section id="subscribe">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Newsletter</h2>
                <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
            </div>
            <form method="POST" action="#">
                <div class="form-row justify-content-center">
                    <div class="col-auto">
                        <input type="text" class="form-control" placeholder="Enter your Email">
                    </div>
                    <div class="col-auto">
                        <button type="submit">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Contact Us</h2>
                <p>Rashed</p>
            </div>

            <div class="row contact-info">
                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Address</h3>
                        <address>IIT, DU</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+155895548855">01613710569</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:info@example.com">bsse0719@iit.du.ac.bd</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

</main>


<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h1><span>PSSE</h1>
                    <p>This question has been in investors' minds for as long as financial markets have existed. Who wouldn’t want consistently to be able to buy low and sell high? A tool that enabled an investor to make accurate predictions about market fluctuations would be invaluable in building wealth and financial freedom.lat cumque.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Blog</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Blog</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Rashed <br>
                        IIT<br>
                        DU <br>
                        <strong>Phone:</strong> 01613710569<br>
                        <strong>Email:</strong> bsse0719@iit.du.ac.bd<br>
                    </p>

                   
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>mdrkrashed69</strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by <a href="">Rashed</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

{% load static %}
<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
